:root {
    --bgdark: black;
    --bglight: white;
    --accentlight: burlywood;
    --accentlighter: white;
    --accentdulldarker: rgb(15, 15, 15);
    --accentdull: rgb(32, 32, 32);
    --accentdulllighter: rgb(50, 50, 50);
    --accentdark: black;
    --accentspecial1: pink;
    --accentspecial1dark: purple;
    --accentspecial2: cyan;
    --accentspecial2dark: blue;
    --textdark: black;
    --textlight: white;
    --debug: greenyellow;
}