

/* TABLET */
@media screen and (max-width: 1024px) {
    .sidetext p {
        margin: 30px 0px;
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 920px) {
    .search {
        width: 110px;
    }
}
@media screen and (max-width: 700px) {
    .search {
        width: 80px;
    }
    .card img, .sidetext {
        margin: 1.2rem;
        width: 40vw;
        height: auto;
    }
    .BUTTON a {
      font-size: 1.5rem;
    }
    .BUTTON {
        padding: 15px 25px;
    }
}

@media screen and (max-width: 640px) {
    .logo img {
        width: 220px;
    }
    .contact {
        visibility: hidden;
    }
    .search {
        visibility: hidden;
    }
    .menu {
        position: absolute;
        top: 20px;
        left: 15px;
    }
    #hero {
        justify-content: center;
        align-items: center;
        background-image: url(/images/heg.jpg);
        background-position: center;
    }
    #hero h1 {
        font-size: 2.8rem;
    }
    #hero p {
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .heroshadow {
        position: absolute;
        top: 3px;
        left: 0px;
        width: 100%;
        min-height: calc(100vh - 120px);
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 5;
    }

}


/* MOBILE */
@media screen and (max-width: 600px) {
    
}

/* MAEK DROP DOWN MENU HERE */
@media screen and (max-width: 590px) {
    .usli {
        scale: 0.8;
    }
}

@media screen and (max-width: 420px) {
    .sidetext h1 {
        display: none;
    }
}
@media screen and (min-width: 420px) {
    .catalogupper h1 {
        display: none;
    }
}

@media screen and (max-width: 350px) {

}
