@import url(colors.css);
@import url(hero.css);
@import url(testscatalog.css);
@import url(devices.css);

/* DEFAULTS START */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    height: 100vh;
    width: 100vw;
    background-color: var(--bgdark);
    color: var(--textdark);
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

/* DEFAULTS END */

/* NAVBAR START */

#navbar {
    height: 70px;
    width: 100vw;
    background-color: var(--accentlight);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo {
    margin: auto;
    position: absolute;
    top: 18px;
    left: 50vw;
    transform: translate(-50%);
}
.home {
    margin-right: 1rem;
} 
.search {
    margin-right: 1rem;
}
.search {
    background-color: var(--bglight);
    border-radius: 8px;
    border: 2px solid var(--accentdark);
    padding: .3rem;
    display: flex;
    align-items: center;
}
.search input {
    width: 100%;
}
.search button {
    margin-left: auto;
}
.contact {
    margin-left: 1rem;
    margin-right: auto;
    padding: .3rem;
    border-radius: 8px;
    border: 2px solid var(--accentdark);
    background-color: var(--bglight);
}
.contact:hover {
    scale: 1.15;
}
.search:hover {
    scale: 1.1;
}
.search input, .search button {
    border: none;
    background-color: transparent;
    padding: auto .5rem;
    outline: none;
}
.contact a {
    color: var(--accentdark);
    font-weight: bold;
}
.home:hover {
    scale: 1.2;
} 
.menu {
    position: absolute;
    top: 20px;
    right: 2000px;
}

.smolnav {
    height: 50px;
    background-color: var(--accentdark);
    width: 100vw;
    white-space: no-wrap;
    overflow-x: auto;
    scrollbar-color: var(--accentlight) var(--accentdull);
}
.smolnav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.smolnav li {
    padding: 0 2rem;
}
.smolnav a {
    color: var(--accentlight);
    cursor: pointer;
    text-wrap: nowrap;
}
.smolnav a:hover {
    color: var(--accentlighter);
}

/* NAVBAR END */

/* USLI START */

.usli {
    position: fixed;
    top: 30vh;
    right: -50px;
    z-index: 100;
}
.usli1 {
    background-color: var(--accentlight);
}
.usli2 {
    background-color: var(--accentdull);
}
.usli a {
    height: 120px;
    width: 100px;
    margin-top: 15px;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
}
.usli1 p {
    color: var(--accentdark);
}
.usli2 p {
    color: var(--accentlight);
}
.usli1 p, .usli2 p {
    transform: rotate(-90deg);
    font-size: 1.5rem;
    font-weight: bold;
   padding-top: 22px;
}
.usli a:hover {
    transform: translate(-20px, 0px);
    transition: all 0.2s ease-in;
}

/* USLI END */

/* FOOTER START */

footer {
    background-color: var(--accentlight);   
}
.upper {
    display: flex;
    height: 100px;
    width: 100vw;
    flex-direction: row;
    flex-wrap: nowrap;
}
.upper a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    height: 100%;
    color: var(--textlight);
    font-size: 2.2rem;
}
.upper a:hover {
    scale: 1.005;
    transition: all 0.5s ease-out;
}
.left {
    background-color: rgb(36, 36, 36);
}
.left:hover {
    background-color: rgb(61, 61, 61);
}
.center {
    background-color: rgb(75, 75, 75);
}
.center:hover {
    background-color: rgb(94, 94, 94);
}
.right {
    background-color: rgb(134, 134, 134);
}
.right:hover {
    background-color: rgb(155, 155, 155);
}
.logofooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
}
.middle {
    display: flex;
    text-align: left;
    justify-content: space-evenly;
    align-items: flex-start;
    height: fit-content;
    padding: 40px 1rem;
    flex-wrap: wrap;
    gap: 40px;
}
.links1, .links2, .links3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    flex-shrink: 0;
}
.socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    flex-shrink: 0;
}
.socials ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.socials li {
    margin: 0px 5px;
}
.socialsicon img:hover {
    scale: 1.2;
    transition: all 0.3s ease-out ;
}
.findmeon {
    margin-bottom: 30px;
}
.bottom {
    display: block;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
    margin: 0px 3rem;
}
.links1 a, .links2 a, .links3 a{
    color: var(--accentspecial1dark);
}
.links1 a:hover, .links2 a:hover, .links3 a:hover{
    color: var(--accentspecial2dark);
    text-decoration: underline;
}

/* FOOTER END */
