.testheader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accentdulldarker);
    color: var(--accentlight);
    height: 40vh;
    font-size: 2rem;
    text-align: center;
}
.testdescription {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   
    height: fit-content;
    font-size: 1.5rem;
    text-align: left;

    padding: 4rem;
    color: var(--accentlight);
}

.answercard:hover {
    scale: 1.15;
}
.progressbar {
    flex-shrink: 0;
    color: var(--accentlighter);
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: auto 2rem;
}
.progressbar span {
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background-color: var(--accentlighter);
    margin: 2rem auto 1rem auto;
}
.idk {
    display: flex;
    width: 100vw;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}