@import url(colors.css);

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--bgdark);
    color: var(--textdark);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* DEFAULTS */

#navbar {
    height: 70px;
    width: 100vw;
    background-color: var(--accentlight);

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    margin: auto;
/* 
    font-size: 2rem;
    font-weight: bold; */

    position: absolute;
    top: 18px;
    left: 50vw;
    transform: translate(-50%);
}

.home, .search {
    margin-right: 1rem;
}

.search {
    background-color: var(--bglight);
    border-radius: 8px;
    border: 2px solid var(--accentdark);
    padding: .3rem;

    display: flex;
    align-items: center;
}

.search input {
    width: 30%;
}

.search button {
    margin-left: auto;
}

/* FOR MOBILE */

@media screen and (max-width: 715px) {
    .search {
        width: 15% ;
    }

    .search input {
        width: 50%;
    }

    .search button {
        margin-left: auto;
    }

    .smolnav a {
        font-size: .8rem;
    }

    .logo img {
        width: 200px;
        height: auto;
    }
}

/* FOR MOBILE */

.contact {
    margin-left: 1rem;
    margin-right: auto;

    padding: .3rem;
    border-radius: 8px;
    border: 2px solid var(--accentdark);
    background-color: var(--bglight);
}

.contact:hover {
    scale: 1.15;
}

.search:hover {
    scale: 1.1;
}

.search input, .search button {
    border: none;
    background-color: transparent;
    padding: auto .5rem;
    outline: none;
}

.contact a {
    color: var(--accentdark);
    font-weight: bold;
}

.home:hover {
    scale: 1.2;
} 

.smolnav {
    height: 50px;
    background-color: var(--accentdark);
    width: 100vw;

    white-space: no-wrap;
    overflow-x: auto;
    scrollbar-color: var(--accentlight) var(--accentdull);
}

.smolnav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.smolnav li {
    padding: 0 2rem;
}

.smolnav a {
    color: var(--accentlight);
    cursor: pointer;
    text-wrap: nowrap;
}

.smolnav a:hover {
    color: var(--accentlighter);
}

.usli {
    position: fixed;
    top: 30vh;
    right: -50px;
    z-index: 100;
}

.usli1 {
    background-color: var(--accentlight);
}

.usli2 {
    background-color: var(--accentdull);
}

.usli a {
    height: 120px;
    width: 100px;
  
    margin-top: 15px;
    border-radius: 15px 0px 0px 15px;

    display: flex;
    justify-content: center;
}

.usli1 p {
    color: var(--accentdark);
}

.usli2 p {
   color: var(--accentlight);
}

.usli1 p, .usli2 p {
    transform: rotate(-90deg);
   font-size: 1.5rem;
   font-weight: bold;
   padding-top: 22px;
}

.usli a:hover {
    transform: translate(-20px, 0px);
    transition: all 0.2s ease-in;
}

/* HERO SECTION */

#hero {
    min-height: calc(100vh - 120px);
    width: 100vw;
    background-image: url(images/neg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -10;

    color: var(--textlight);

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: first baseline;
    flex-direction: column;
}

#hero p {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#hero button{
    padding: 15px 25px;
    border-radius: 15px;
    background-color: var(--accentlight);
    border: 2px solid var(--accentdark);
}

#hero a {
    color: var(--accentdark);
    font-size: 1rem;
    font-weight: bold;
}

#hero button:hover {
    background-color: var(--accentspecial1dark);
    transition: all 0.3s ease;
    scale: 1.2;
}

#hero h1{
    font-size: 3.5rem;
    margin-left: 5vw;
}

/* HERO SECTION */

/* FOOTER SECTION */

footer {
    background-color: var(--accentlight);   
}

.upper {
    display: flex;
    height: 100px;
    width: 100vw;
    flex-direction: row;
    flex-wrap: nowrap;
}

.upper a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    flex-grow: 1;
    height: 100%;

    color: var(--textlight);
    font-size: 2.2rem;
}
.upper a:hover {
    scale: 1.005;
    transition: all 0.5s ease-out;
}

.left {
    background-color: rgb(36, 36, 36);
}
.left:hover {
    background-color: rgb(61, 61, 61);
}
.center {
    background-color: rgb(75, 75, 75);
}
.center:hover {
    background-color: rgb(94, 94, 94);
}
.right {
    background-color: rgb(134, 134, 134);
}
.right:hover {
    background-color: rgb(155, 155, 155);
}

.logofooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.middle {
    display: flex;
    text-align: left;
    justify-content: space-evenly;
    align-items: flex-start;
    height: fit-content;
    padding: 50px 0px;
}

.socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.socials ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.socials li {
    margin: 0px 5px;
}

.socialsicon img:hover {
    scale: 1.2;
    transition: all 0.3s ease-out ;
}

.findmeon {
    margin-bottom: 30px;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
}

.links1 a, .links2 a, .links3 a{
    color: var(--accentspecial1dark);
}

.links1 a:hover, .links2 a:hover, .links3 a:hover{
    color: var(--accentspecial2dark);
    text-decoration: underline;
}

/* FOOTER SECTION */

/* CATALOG SECTION */

#catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#catalogtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

#catalog h1{
    color: var(--textlight);
    margin: 60px 20px;
    font-size: 2rem;
    flex-shrink: 0;
    
}

#catalog span {
    width: 50vw;
    height: 8px;
    background-color: var(--accentlight);
    border-radius: 5px;
}

.end {
    width: 110vw;
    height: 8px;
    background-color: var(--accentlight);
    border-radius: 5px;
    margin: 60px;
}

.catalog-test1, .catalog-test2{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.catalog-test2 {
    background-color: rgb(12, 12, 12);
}

.card img{
    background-color: gray;
    border-radius: 15px;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
}

.sidetext {
    color: var(--textlight);
    text-align: left;
}

.sidetext p {
    font-size: 1.5rem;
}

.card img, .sidetext {
    height: 30vw;
    width: 30vw;
    margin: 60px;
}

.BUTTON {
    padding: 15px 25px;
    border-radius: 15px;
    background-color: var(--accentlight);
    border: 2px solid var(--accentdark);
    height: fit-content;
    width: fit-content;
    margin-top: 50px;
}

.BUTTON a {
    color: var(--accentdark);
    font-size: 1.8rem;
    font-weight: bold;
}

.BUTTON:hover {
    background-color: var(--accentspecial1dark);
    transition: all 0.3s ease;
    scale: 1.2;
}